@import 'config';
@import 'menu';
@import 'mobile';
* {
	box-sizing: border-box;
}
body {
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: rgba($primary, $bg-opacity);
	}
	@include background;
	background-color: $primary;
	color: set-text-color($primary);
	height: 100%;
	line-height: 1.5;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
}
h1,
h2,
h3 {
	margin: 0;
	font-weight: 400;
	&.sm-heading {
		margin-bottom: 2rem;
		padding: 0.2rem 1rem;
		background-color: rgba(lighten($primary, 2), 0.5);
	}
	&.lg-heading {
		font-size: 6rem;
	}
}
a {
	color: set-text-color($primary);
	text-decoration: none;
}
header {
	position: fixed;
	z-index: 2;
	width: 100%;
}
.secondary-text {
	color: $secondary;
}
main {
	padding: 4rem;
	//height: 100%;
	min-height: calc(100vh - 60px);

	.icons {
		margin-top: 1rem;
		a {
			padding: 0.4rem;

			&:hover {
				color: $secondary;
				@include easeOut();
			}
		}
	}
	&#home {
		overflow: hidden;
		h1 {
			margin-top: 20vh;
		}
	}
}
.about-info {
	display: grid;
	grid-template-areas: "image bio bio" "job1 job2 job3";

	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}
.bio-image {
	grid-area: image;
	border: 3px solid $secondary;
	border-radius: 50%;
}
.bio-info {
	grid-area: bio;
	font-size: 20px;
}
.job-1 {
	grid-area: job1;
}
.job-2 {
	grid-area: job2;
}
.job-3 {
	grid-area: job3;
}
.job {
	background-color: lighten($primary, 5);
	padding: 0.4rem;
	border-bottom: 3px solid $secondary;
}
main#about {
}
#main-footer {
	text-align: center;
	height: 60px;
	background-color: darken($primary, 3);
	padding: 1rem;
}
@import 'mobile';
